<h2 style>Training Session List</h2>

<form (ngSubmit)="onSubmit()" >


    Filter:
    Date<input type="date"  id="startDate"
    [(ngModel)]="startDate" name="startDate">

    Delivery Method<input type="text" id="deliveryMethod"
    [(ngModel)]="deliveryMethod" name="deliveryMethod">

    Ifs Version<input type="text"  id="ifsVersion"
    [(ngModel)]="ifsVersion" name="ifsVersion">

    <button class="btn btn-dark" type="submit" style="margin-left: 10px;margin-bottom: 5px;" >Filter</button>
    <button class="btn btn-dark" type="reset" (click)="goBackToPrev()" style="margin-left: 10px;margin-bottom: 5px;">Reset</button>

    
</form>



<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>Session Name</th>
            <th>Start Date</th>
            <th>Duration</th>
            <th>Participants</th>
            <th>IFS Application Version</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let trainingSession of trainingSessions">
            <td>{{ trainingSession.sessionName }}</td>
            <td>{{ trainingSession.startDate }}</td>
            <td>{{ trainingSession.duration }}</td>
            <td>{{ trainingSession.maxParticipants }}</td>
            <td>{{ trainingSession.ifsApplicationVersion }}</td>
            
            <td>
                <button (click)="updateTrainingSession(trainingSession.id)" class="btn btn-warning" >Update</button>
                
                <button (click)="deleteTrainingSession(trainingSession.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                
                <button (click)="trainingSessionDetails(trainingSession.id)" class="btn btn-info" style="margin-left: 10px;">View</button>
            </td>
        </tr>
    </tbody>
</table>
