<br><br>

<div class="col-5 form-div">

    <form (ngSubmit)="onSubmit(); myForm.resetForm()" class=" shadow p-3 mb-9 bg-white rounded" #myForm="ngForm">

        <h2>
            Add Training Coordinator
        </h2>

        <br>

        <div class="form-group">
            <label>
                Name
            </label>

            <input type="text" class="form-control" id="name" [(ngModel)]="trainingCoordinator.name" name="name" required>

        </div>

        <br>
        <button class="btn" type="submit">Add Coordinator</button>

    </form>

</div>