<h3 >
    View Training Session Details
</h3>
<div>

    <div >
        <label>
            <b >Session Name :</b>
        </label>
        {{trainingSession.sessionName}}
    </div>

    <div >
        <label>
            <b>Start Date:</b>
        </label>
        {{trainingSession.startDate}}
    </div>

    <div>
        <label>
            <b>Duration  :</b>
        </label>
        {{trainingSession.duration}}
    </div>

    <div >
        <label>
            <b>Max Participants :</b>
        </label>
        {{trainingSession.maxParticipants}}
    </div>

    <div >
        <label>
            <b>IFS Application Version :</b>
        </label>
        {{trainingSession.ifsApplicationVersion}}
    </div>

    <div >
        <label>
            <b>Buffer Time:</b>
        </label>
        {{trainingSession.bufferTime}}
    </div>

    <div >
        <label>
            <b>Manager Comment :</b>
        </label>
        {{trainingSession.managerComment}}
    </div>

    <div >
        <label>
            <b>Delivery Method :</b>
        </label>
        {{trainingSession.deliveryMethod}}
    </div>

    
</div>