<br><br>
<div>
    <h2>
        Training Session Details
    </h2>
    <div class="row">

        <div class="col">

        </div>

        <div class="col" id="details">
            <div>
                <label>
                <b >Session Name :</b>
            </label> {{trainingSession.sessionName}}
            </div>

            <div>
                <label>
                <b>Start Date:</b>
            </label> {{trainingSession.startDate}}
            </div>

            <div>
                <label>
                <b>Duration  :</b>
            </label> {{trainingSession.duration}}
            </div>

            <div>
                <label>
                <b>Max Participants :</b>
            </label> {{trainingSession.maxParticipants}}
            </div>

            <div>
                <label>
                <b>IFS Application Version :</b>
            </label> {{trainingSession.ifsApplicationVersion}}
            </div>

            <div>
                <label>
                <b>Buffer Time:</b>
            </label> {{trainingSession.bufferTime}}
            </div>

            <div>
                <label>
                <b>Manager Comment :</b>
            </label> {{trainingSession.managerComment}}
            </div>

            <div>
                <label>
                <b>Delivery Method :</b>
            </label> {{trainingSession.deliveryMethod}}
            </div>

            <div>
                <label>
                  <b>Trainer :</b>
                </label>
            </div>

        </div>

        <div class="col">

        </div>


    </div>
</div>