
body{
 
    background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
    background-color: hsl(300, 15%, 45%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Times New Roman', Times, serif;
    
    }
    .center {  
     width: 100%;
     margin: auto;
    /* top: 50%; */
    padding: 190px;
  
    
    }
    .form{
      left: 0;
    }
    .parent {
    height: 100%;
      display: flex;
      align-items: center;
     justify-content: center;
  
    }
    #form {
     left: 0;
      background-color: rgb(221, 205, 205);
    }
    .footer{
      top: 0;
      color: rgb(133, 105, 105);
    }