.text{
    color: aliceblue;
}
.bd-navbar {
   
    min-height: 4rem;
    background-color: rgb(226, 178, 250);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
    text-decoration: solid;
    color: #000;
}