/*.text{
    color: aliceblue;
}
.bd-navbar {
   
    min-height: 4rem;
    background-color: rgb(226, 178, 250);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
    text-decoration: solid;
    color: #000;
}*/


nav{
    background-color: #1b1b1b;
    
    
    
}

nav::after{
    content: '';
    clear: both;
    display: table;
    
}
nav .logo{
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    padding-left: 60px;



}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
    
}     

nav ul li{
    float:left;
    display: inline-block;
    background:#1b1b1b;
    margin: 0 5px;
    
}  

nav ul li a {
    color:white;
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
    padding: 6px 12px;
    
}

nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}

nav ul ul li a:hover{
    color: cyan;
    box-shadow:none;
}

nav ul ul{
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    border-top: 3px solid cyan;
}
nav ul ul ul{
    border-top:none
}

nav ul li:hover > ul{
    top: 55px;
    opacity: 1;
    visibility:visible;
}
nav ul ul li{
    position: relative;
    margin:0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
    line-height: 40px;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}

.lbl,.icon, input{
   display: none;
}

button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
  }

@media all and (max-width: 1060px) {
    nav ul{
            margin-right: 0px;
            float:left;
    }

    nav .logo{
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top:70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility:visible;
    }
    nav ul ul li{
        border-bottom: 0px;

    }
    nav ul ul ul li{
        position: static;

    }
    nav ul ul a{
        padding-left: 40px;
    }
    .lbl{
        display: block;
        color: white;
        font-size: 18px;
        padding:0 20px;
        line-height: 50px;
        cursor: pointer;
    }
    .lbl:hover{
        color: cyan;
    }
    .icon{
        display: block;
        color: white;
        position: absolute;
        right:40px;
        line-height: 55px;
        font-size: 20px;
        cursor: pointer;
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .lbl + a,ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
    
}