<h2>Trainer List</h2>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>Username</th>
      <th>Trainer Name</th>
      <th>Type</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trainer of trainers">
      <td>{{ trainer.username }}</td>
      <td>{{ trainer.name }}</td>
      <td>{{ trainer.type }}</td>
      <td>{{ trainer.email }}</td>
      <td>{{ trainer.contactNo }}</td>
      <td>
        <button (click)="trainerDetails(trainer.id)" class="btn btn-info" style="margin-left: 10px;">View</button>
      </td>


    </tr>
  </tbody>
</table>
