<div class="container">
    <br>
    <br>

    <h2>Trainer List</h2>
    <table class="table table-striped table-bordered shadow p-3 mb-5 bg-white rounded">
        <thead>
            <tr>
                <th>Trainer Name</th>
                <th>Username</th>
                <th>Email</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trainer of trainers">
                <td>{{ trainer.name }}</td>
                <td>{{ trainer.username }}</td>
                <td>{{ trainer.email }}</td>



            </tr>
        </tbody>
    </table>

</div>