.add-task{
    padding: 40px 12px 0 12px;
}
.header{
    background: #ab6bd6;
}

.header h1{
    padding: 4px 10px 3px 12px;
}

mat-form-field{
    width: 100%;
    padding-left: 0 !important;
}

textarea{
    height: 150px !important;
}

