/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); 
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background: url('C:\Users\AG\Downloads\background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
/*body{
    background-image: url('C:\Users\AG\Downloads\background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}*/
.cal-events {
    display: none !important;
}

.mat-form-field-flex{
    padding-left: 0 !important;

}

/*@media all and (max-width: 1132px) {
  body{
      background-image: ;
  }
}*/