<div class="container-fluid">

  <div class="bg-1">




      <div class="container text-center" *ngIf="info.token; else loggedOut">

          <div class="container text-center home-box">

              <h1>Welcome Back </h1>

              <h2>{{info.username}}</h2>



              <br>
              <button class="btn btn-secondary logout-btn" (click)="logout()">Logout</button>

          </div>



      </div>


      <ng-template #loggedOut>
          <h2 class="text-uppercase  font-weight-bold">Please login.</h2>
      </ng-template>



  </div>




</div>